body {
  margin: 0;
}

header,
#pres {
  text-align: center;
}

#yelloweheader {
  background-image: linear-gradient(to top, #ffffff 0%, #d2df15 90%, #fbf302 100%);
  height: 40px;
  padding: 5px;
  color: cadetblue;
  border-top: 1px solid blue;
}

#layout {
  width: 500px;
  margin: auto;
}
#grigio {
  color: grey;
}

#content {
  border-left: 1px solid red;
  padding: 10px;
}
#red {
  color: red;
}
#link {
  color: yellowgreen;
}

#lista {
  line-height: 40px;
}
#video {
  border-radius: 20px;
  box-shadow: 10px 5px 10px black;
}
hr {
  height: 1px;
  background-color: blue;
}
